<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">   <!--노랑-->
        <a class="navbar-brand" href="/">SBB</a> <!--빨강-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-column" id="navbarSupportedContent">  <!--녹색-->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 "> <!--파랑-->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/question/categorylist/1|}">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/question/categorylist/2|}">프로그램 개발</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/question/categorylist/3|}">문의사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/question/categorylist/4|}">Q&A</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
