<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/searchPw}" th:object="${userSearchPwForm}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}" role="alert">
            <ul>
                <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
            </ul>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="사용자ID" required>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">기존 비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control" placeholder="기존 비밀번호" required>
        </div>
        <div class="mb-3">
            <label for="password2" class a="form-label">새 비밀번호</label>
            <input type="password" th:field="*{password2}" class="form-control" placeholder="새 비밀번호" required>
        </div>
        <div class="mb-3">
            <label for="password3" class="form-label">새 비밀번호(확인)</label>
            <input type="password" th:field="*{password3}" class="form-control" placeholder="새 비밀번호(확인)" required>
        </div>
        <button type="submit" class="btn btn-primary">변경</button>
    </form>
</div>
</html>